@media screen and (max-width: 600px) {
    main{
        max-width: 330px;
        
    }

    .header {
        max-width: 330px;
        
    }

    .nav-container {}

    .nav-title {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        display: ;
        gap: 3px;

    }

    .nav-title .title {
        font-size: 17px;
    }

    .nav-title img {
        width: 28.724px;
        height: 33.516px;
    }

    .burger-icon{
        display: flex;
        
    }

    .nav-link ul {
        display: none;
    }

    .banner-container {
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner-image.png');
        background-size: 335px 483px;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }

    .banner-title {
        font-size: 22px;
    }

    .banner-description {
        font-size: 14px;
    }

    .banner-input {
        flex-direction: column;
        display: flex;

padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
    }

/* main section */
main{
    margin-top: 15px;
}


    /* Tours section */

    .tours-container {

        flex-direction: column;
        
    }

    .tours-details {
        padding-left: 10px;
        padding-right: 10px;
        /* margin: 100px; */
    }

    .tours-container .tours-details #tours-title {
        font-size: 20px;

    }

    .tours-container .tours-details .description {
        font-size: 14px;
    }

    .tours-image img {
        width: 335px;
        height: 342px;
        /* margin-right: 200px; */
    }


    /* destination section */

    .destination-container {
        flex-direction: column;
        margin-top: 10px;
    }

    .destination-container p {
        margin-bottom: 10px;

    }

    .destination-container .title {
        font-size: 20px;
    }

    .destination-container .description {
        font-size: 14px;
        padding: 14px;
    }

    .image-container .image img{
        max-width: 335px;
    }

    /* choose us section */

    .choose-us-container {
        margin-top: 10px;
    }


    .title{
        font-size: 20px;
    }
    .description{
        font-size: 14px;
    }
    .choosing-card-container{
        flex-direction: column;
        
    }
    
    .card-title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .card-description{
        font-size: 14px;
    }

    .card-img{
        margin-bottom: 10px ;
    }
    .card-img img{
        width: 48px;
height: 48px;
    }

    .hotel-card{
        max-width: 335px;
        padding: 20px;
        overflow: hidden;
    }
.service-card {
    max-width: 335px;
    padding: 20px;
    overflow: hidden;
}
.price-card{
    max-width: 335px;
    padding: 20px;
    overflow: hidden;
}

/* newsletter section */
.newsletter-container{
    flex-direction: column;
}
.newsletter-image img{
    max-width: 335px;
    padding-right: 10px;
}

.discount{
    width: 214.023px;
height: 79.268px;
position: absolute;
bottom: 35px;
right: 20px;
transform: rotate(-19.628deg);

}

.discount p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 15.854px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.discount h2{
    color: #FFF;
    font-family: Mulish;
    font-size: 21.138px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}




/* footer section */

footer{
    max-width: 335px;
    height: 309px;
   
}

.footer-logo{
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 6px;
}

.footer-logo img{
    width: 28.724px;
height: 33.516px;
}

.footer-logo p span{
    font-size: 21.543px;
}

#footer-title{
    font-size: 21.543px;
}

.footer-description{
    font-size: 16px;
    /* padding: 10px; */
    text-align: center;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

.rights{
    /* margin-bottom: 35px; */
}

br{
    display: none;
}



}