/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,600;0,700;0,800;1,400&display=swap');

/* Shared Style */
*{
    font-family: 'Mulish', sans-serif;
}

span{
    color: #FF5400;
    font-family: Mulish;
}

.button-primary{
    padding: 16px 35px;
    width: 174px;
height: 52px;
color: #FFF;
font-size: 14px ;
border-radius: 8px;
background: #FF5400;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 5px;
border: none;
}

.btn-primary{
    padding: 16px auto;
    width: 174px;
height: 52px;
color: #FFF;
font-size: 20px ;
border-radius: 8px;
background: #FF5400;
font-weight: 800;
border: none;
}

.title{
    color: #131318;
    /* text-align: center; */
    font-size: 40px;
    font-weight: 800;
    }

.description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    
}

/* header section started */
.header{
    max-width: 1440px;
    margin: 0 auto;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    display: flex;
    gap: 16px;
}

.nav-title .title{
    color: #131318;
font-size: 36px;
font-weight: 800;
}

.nav-link ul{
    display: flex;
    justify-content: space-between;
    gap: 44px;
}

.nav-link ul li{
    list-style: none;
    color: #424247;
font-size: 18px;
font-weight: 400;
}

.banner-container{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner-image.png') ;
    background-size: 100% 100%;
    background-position: center center;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.banner-title{
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-weight: 800;
margin-bottom: 24px;
}

.banner-description{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
margin-bottom: 48px;
}

.banner-input{
    border: 1px solid rgba(255, 255, 255, 0.30) ;
    border-radius: 8px;
    padding: 24px;
    display: inline-flex;
    gap: 24px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);

}

.banner-input input{
    padding: 0.675em 4em 0.675em 1em;
    width: 174px;
height: 52px;
color: rgba(19, 19, 24, 0.50);
font-size: 16px ;
border-radius: 8px;
}


select{
    padding: 14px 14px;
    width: 174px;
height: 52px;
color: rgba(19, 19, 24, 0.50);
font-size: 16px ;
border-radius: 8px;
}

/* main section started */
main{
    max-width: 1440px;
    margin: 100px auto;
}

.tours-container{
    display: inline-flex;
    justify-content: center;
    gap: 53px;
    align-items: center;
   
    
}

.tours-container .tours-details #tours-title{
    margin-bottom: 15px;
}

.tours-container .tours-details .description{
    margin-top: 20px;
}

.tours-container .tours-details ul li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    
}

.tours-container .tours-image img{
    /* max-width: 540px;
    max-height: 550px; */
    /* height: 100%;
    width: 100%; */
       
}

.tours-container .tours-details button{
    margin-top: 25px;
}

/* destination section started */

.destination-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}

.destination-container p{
    margin-bottom: 20px;
}

/* destination image section */

.first-image-div{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
}

.first-image-div img{
    width: 100%;
}

.second-image-div{
    display: flex;
    /* justify-content: space-between; */
    /* flex: 1; */
    /* align-items: center; */
    /* display: grid; */
    /* grid-template-columns: 20% 40% 20% ; */
    /* grid-column-gap: 20px; */
    gap: 24px;  
    
     
}

.second-image-div div{
   /* white-space: none; */
   /* width: 100%; */
  
}

.second-image-div div img{
    /* width: 460px; */
    
}

.second-image-div div img .one{
   

}

.second-image-div div img .two{
    
   
}
.second-image-div div img .three{
    
  
}

.third-image-div{
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
    margin-top: 24px;
    
}

.third-image-div img .bangladesh{
    
    max-width: 473px;
height: 300px;
width: ;
}

.third-image-div img .bandarban{
    max-width: 673px;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 24px;
    width: ;
    height: auto;
    
}

.image{
    position: relative;
    text-align: center;
  color: white;
}

.name{
   
   color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}