/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,600;0,700;0,800;1,400&display=swap');

/* Shared Style */
* {
    font-family: 'Mulish', sans-serif;
}

span {
    color: #FF5400;
    font-family: Mulish;
}

.button-primary {
    padding: 16px 35px;
    width: 174px;
    height: 52px;
    color: #FFF;
    font-size: 14px;
    border-radius: 8px;
    background: #FF5400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
}

.btn-primary {
    padding: 16px auto;
    width: 174px;
    height: 52px;
    color: #FFF;
    font-size: 20px;
    border-radius: 8px;
    background: #FF5400;
    font-weight: 800;
    border: none;
}

.title {
    color: #131318;
    /* text-align: center; */
    font-size: 40px;
    font-weight: 800;
}

.description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;

}

/* header section started */
.header {
    max-width: 1170px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    display: flex;
    gap: 16px;
}

.nav-title .title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-link ul {
    display: flex;
    justify-content: space-between;
    gap: 44px;
}

.nav-link ul li {
    list-style: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.burger-icon{
    display: none;
}

.banner-container {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner-image.png');
    background-size: 100% 100%;
    background-position: center center;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

.banner-input {
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    padding: 24px;
    display: inline-flex;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

.banner-input input {
    padding: 0.675em 4em 0.675em 1em;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    border-radius: 8px;
}


select {
    padding: 14px 14px;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    border-radius: 8px;
}

/* main section started */
main {
    max-width: 1170px;
    margin: 100px auto;
}

.tours-container {
    display: inline-flex;
    justify-content: center;
    gap: 53px;
    align-items: center;


}

.tours-container .tours-details #tours-title {
    margin-bottom: 15px;
}

.tours-container .tours-details .description {
    margin-top: 20px;
}

.tours-container .tours-details ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding: 16px;

}

.tours-container .tours-image img {
    /* max-width: 540px;
    max-height: 550px; */
    /* height: 100%;
    width: 100%; */

}

.tours-container .tours-details button {
    margin-top: 20px;
}

/* destination section started */

.destination-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}

.destination-container p {
    margin-bottom: 20px;
}

/* destination image section */

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 24px;
    width: ;
    height: auto;

}

.image {
    position: relative;
    text-align: center;
    color: white;
}

.name {

    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Choose us Section */

.choose-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    text-align: center;

}

.choose-us-container p {
    margin-bottom: 16px;
}

/* Card section  */

.choosing-card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 48px;
}

.card-img {
    margin-bottom: 20px;
}

.card-title {
    color: #131318;

    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.card-description {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-: px;
}

.hotel-card {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    padding: 32px 52px 32px 32px;

}

.service-card {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    padding: 32px 52px 32px 32px;

}

.last-card-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.price-card {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    padding: 32px 52px 32px 32px;
}

/* Newsletter Section */

.newsletter-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    margin-top: 70px;


}

.newsletter {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 20px 40px 20px 40px;
    /* border-width:474px; */
    /* height: 422px; */

}

.news-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.news-description {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

hr {
    border-color: rgba(19, 19, 24, 0.10);
}

.newsletter input {
    width: 95%;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding: 16px 0 16px 20px;
}

.enter-name {}

.enter-email {}

.subscribe-btn {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;

    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;

}

.newsletter-image {
    /* position: relative; */
    /* text-align: center;
    color: white; */
    height: 90%;
    margin-left: 50px;
}

.discount {
    width: 200px;
    border-radius: 16px;
background: #FF5400;
padding: 10px;
    text-align: center;
    color: #FFF;
    gap: 5px;
    position: relative;
    bottom left: 50px;
}

#site {
    /* color: #FFF;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400; */
}

#percentize {
    /* color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800; */
}

footer{
    max-width: 1440px;
    /* max-height: 502px; */
    margin: 0 auto;
    background: rgba(19, 19, 24, 0.05);
    
/* margin-bottom: 100px; */

}

.footer-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.footer-logo{
    display: inline-flex;
    gap: 14px;
    margin-top: 100px;
    font-size: 32px;
font-weight: 800;
margin-bottom: 5px;
}
.footer-description{
    margin-top: 5px;
}
.rights{
    margin-bottom: 100px;
}


.line{
    border-color: rgba(19, 19, 24, 0.10);
    
}


/* Footer section started */
/* 
footer{
    max-width: 1440px;
    margin: 0 auto;
    
    
}

.footer-container{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.footer-title{
 display: inline-flex;
 gap: 10px;
 font-family: Mulish;
font-size: 32px;
font-weight: 800;
padding-bottom: 10px;
}
.footer-description{
    padding-top: 10px;
}

.footer-icon img{
    color: black;
}

hr{
    /* border-color: rgba(19, 19, 24, 0.10); */
    border: #131318;
} */



<section class="">
    <div class="footer-container">
        <div class="footer-title">
            <img src="Images/travel-icon.svg" alt="">
            <p class="title">Bloomeing <span>Evergreen</span></p>
        </div>
        <div class="footer-description">
            Blooming Evergreen is one of the best travel website. The finest services, you can have towards our Travels. Let's Explore.
        </div>
        <br>
        <div class="footer-icon">
           <img src="Images/social-icon/Social.svg" alt="">
        </div>
        <br>
        <hr>
        <br>

        <div>
            2017, All Rights Reserved.
        </div>

    </div>
</section>